
<nav>    
    <ul class="list-unstyled main-menu">   
      <!--Include your navigation here-->
      <li class="text-right"><a href="#" id="nav-close">Close X</a></li>
      <li><a [routerLink]="['/homepage']" class="btn btn-link">Home &nbsp; <span class="icon"></span></a></li>
      <li><a href="#" class="btn btn-link" >Ecommerce Poc<span class="icon"></span></a>
        <ul class="list-unstyled">
            <li class="sub-nav"><a [routerLink]="['/addcart']" class="btn btn-link">Add Product &nbsp;&nbsp;  <span class="icon"></span></a></li>
            <!-- <li class="sub-nav"><a [routerLink]="['/addwizard']" class="btn btn-link">Compelete Cart &nbsp; &nbsp;  <span class="icon"></span></a></li> -->
        </ul>
      </li>
      <!-- <li><a href="#">Menu Four <span class="icon"></span></a></li>
      <li><a href="#">Menu Five <span class="icon"></span></a></li> -->
    </ul>
</nav>
  
<body class="nav-md">   
    <div class="container body">
        <div class="main_container"> 
          <!-- <div *ngIf="showMenu"> -->
              <div *ngIf="showMenu" class="navbar navbar-inverse navbar-fixed-top">      
   
                  <!--Include your brand here-->
                  <!-- <a class="navbar-brand" href="#">Off Canvas Menu</a> -->
                 <img class="nav navbar-nav navbar-left" src="../../assets/newt_logo.png" width="230" height="75"  alt=""/>
                  <!-- <a class="navbar-brand" href="#">Newt Global</a> -->
                  <ul class="nav navbar-nav navbar-right">
                      <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="../../assets/img.png" alt=""/>&nbsp;<span>{{currentUser.firstName | uppercase}}</span> 
                        </a> 
                        
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                          <li><a href="javascript:;"> Profile</a></li>
                          <li><a href="https://newtglobal.com/"  > About us</a></li>
                          <li><a href="javascript:;">Help</a></li>
                          <li><a [routerLink]="['/login']"> Log Out</a></li>
                        </ul>
                      </li>
              
                      <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-envelope-o"></i>
                          <span class="badge bg-green">1</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                          <li>
                            <a>
                              <span class="image"><img src="../../assets/img.png" alt="Profile Image" /></span>
                              <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
                            </a>
                          </li>
                          <li>
                            <div class="text-center">
                              <a>
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  <div class="navbar-header pull-left">
                   
                    <a id="nav-expander" class="nav-expander fixed">
                      <i class="fa fa-bars fa-lg white"></i>
                    </a>
                  </div>
              
            </div>  
          <!-- </div>  -->
             <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>    
</body>


